.btns{
    padding: 10px 15px;
    background-color: rebeccapurple;
    color: white;
    border: none;
    text-decoration: none;
    font-size: 15px;
    cursor: pointer;
    
}

.button{
    padding: 10px 15px;
    background-color:blueviolet;
    color: white;
    border: none;
    text-decoration: none;
}